@import "tailwindcss";
@import "./css/style.css";

/* Reset dasar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Body style */

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: #ffffff;
    color: #111827;
}


/* Link default */

a {
    text-decoration: none;
    color: inherit;
}


/* Image responsive */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html,
body {
    height: 100%;
}